:root {
  --dark-green: #5b7942;
  --green-accent: #435a30;
  --white: #fff;
  --dark-blue: rgb(69, 69, 209);
  --font-family: "Rubik" !important;
}

body {
  font-family: "Rubik" !important;
}

.index-main-text {
  text-align: center;
  margin-top: 5rem;
  text-shadow: 0.2rem 0.2rem var(--green-accent);
}

.carousel-caption {
  bottom: initial !important;
  top: 5rem;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BBH Hegarty", sans-serif;
  text-shadow: 2px 2px var(--green-accent) !important;
  color: var(--dark-green) !important;
}

.carousel-images {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.navimages img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  clip-path: circle(50%);
}

.navimages {
  text-align: center;
}
.navimages a {
  color: var(--dark-blue);
}
.navimages h2 {
  color: var(--dark-green);
}

.About-LTD-main {
  width: 100%;
  background-color: var(--dark-green);
}

.About-LTD {
  width: 90%;
  background-color: var(--dark-green);
  border-radius: 1rem;
  text-align: center;
  color: white;
}

/* 2nd web page (Hiking Trails) */

.main-hiking-container p {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.hero-section-hiking {
  background-image: url(https://www.eugene-or.gov/ImageRepository/Document?documentID=39312);
}

.subpage-main-text {
  font-size: 4rem;
  font-family: "BBH Hegarty", sans-serif;
  text-shadow: 0.2rem 0.2rem var(--green-accent);
  color: var(--dark-green);
}

.accordion-button:not(.collapsed),
.accordion-button {
  background-color: var(--green-accent);
  color: white;
}

.subpage-p-text {
  text-align: center;
}

.blur-bg {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3px);
  padding: 10px;
  border-radius: 5px;
}

.footer {
  padding-top: 6rem;
  color: var(--dark-blue);
}

.home-button {
  display: flex;
  justify-content: center;
}
